.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 4vw;
  background-color: #2f89ff;
  border-bottom: 2px solid #ffffff;
  height: 8vh;
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 0;
}

.logo {
  height: clamp(30px, 5vh, 45px); 
  width: auto;
  object-fit: contain;
}