/* === Contenedor principal del sidebar === */
.sidebar-contenedor {
  display: none;
  width: 60px;
  background-color: #fefefe;
  height: calc(100vh - 8vh);
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  padding-left: 0.5rem;
  border-right: 2px solid #1c037a;
  position: fixed;
  top: 8vh;
  left: 0;
  z-index: 999;
  overflow: hidden;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.sidebar-expandido {
  display: flex;
  width: 150px;
}

/* Mostrar letras cuando esté expandido, en cualquier pantalla */
.sidebar-contenedor .sidebar-texto {
  display: none;
}

.sidebar-expandido .sidebar-texto {
  display: inline;
}

/* === Pantallas grandes === */
@media (min-width: 1024px) {
  .sidebar-contenedor {
    display: flex;
    width: 70px;
  }

  .sidebar-contenedor:hover {
    width: 200px;
  }

  .sidebar-contenedor:hover .sidebar-texto {
    display: inline;
  }

  .sidebar-icono {
    font-size: 22px;
    width: 50px;
  }

  .sidebar-texto {
    font-size: 17px;
  }
}

/* === Ítems del Sidebar === */
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 10px;
  color: #333;
  cursor: pointer;
  width: 100%;
  border-radius: 7px;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.sidebar-item:hover {
  background-color: #628bba;
  transform: scale(1.05);
}

.sidebar-item-activo {
  background-color: #060471;
  transform: scale(0.95);
}

.sidebar-item-activo .sidebar-icono,
.sidebar-item-activo .sidebar-texto {
  color: white;
}

/* === Íconos === */
.sidebar-icono {
  font-size: 20px;
  color: #060471;
  transition: color 0.2s ease;
  width: 40px;
  pointer-events: none; /* permite que el clic lo reciba el div padre */
}

/* === Texto === */
.sidebar-texto {
  font-size: 16px;
  color: #000000;
  transition: color 0.3s ease;
}
