.main-container {
  background-color: #f2f3f8;
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.rp-h3 {
  font-size: 26px;
  font-weight: 600;
}

.form-container {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  padding: 21px 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.form-field {
  width: 100%;
}

.form-field > label {
  font-weight: 100;
}

.form-field > input {
  width: 100%;
  padding: 5px 9px;
  border: 1px solid grey;
  border-radius: 5px;
}

.submit-btn {
  background-color: #2f89ff;
  color: #fff;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.form-message {
  color: grey;
  font-size: 12px;
}

.form-message > * {
  color: #2f89ff;
  text-decoration: none;
}

.error-message {
  color: red;
}