.form-container {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  padding: 9px 21px 21px 21px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

.rp-h3 {
  font-size: 26px;
  font-weight: 600;
}

.pr-alert-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 100%;
}

.form-field > label {
  font-weight: 100;
}

.form-field > input {
  width: 100%;
  padding: 5px 9px;
  border: 1px solid grey;
  border-radius: 5px;
}

.submit-btn {
  background-color: #2f89ff;
  color: #fff;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 9px;
}

.error-message {
  width: 100%;
  font-size: 12px;
  color: red;
  margin-top: 9px;
}