.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}

.login-left {
  height: 100%;
  flex: 1;
  background-color: #e6f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login-logo {
  width: 60%;
  max-width: 300px;
}