
.contenedor-ingreso-equipo {
  background-color: #e9e9ee;
  padding: 2rem;
  border-radius: 10px;
  max-width: 900px;
  width: 95%;
  margin: 5vh auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.titulo-ingreso-equipo {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #1c3c75;
}

.formulario-ingreso-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}
/* === Columnas de inputs === */

.columna-ingreso {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* === Inputs generales === */
.columna-ingreso input {
  padding: 0.6rem;
  border: 2px solid #4c5fb3;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: white;
}

.contenedor-boton-ingreso {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}



.boton-agregar-equipo {
  background-color: #2e9f3b;

  color: white;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}





/* === Responsive para pantallas pequeñas === */
@media screen and (max-width: 600px) {


.boton-agregar-equipo:hover {
  background-color: #268933;
}
}
/* Responsive */
@media (max-width: 768px) {
  .formulario-ingreso-grid {


    flex-direction: column;
  }

  .columna-ingreso {
    width: 100%;
  }
}
