.link-btn {
  width: 120px;
  height: 40px;
  background-color: #2f89ff;
  color: #fff;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease-in-out;
}

.link-btn:hover {
  transform: scale(1.1);
  transition: all 100ms ease-out;
}