.main-container {
  background-color: #f2f3f8;
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container {
  background-color: white;
  width: 65%;
  height: 65%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.img-decoration {
  width: 200px;
  height: 200px;
}

.message-description {
  color: #455056;
  max-width: 450px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.message-description > * {
  color: #2f89ff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .message-container {
    width: 90%;
  }
}