body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Estilo principal del header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 4vw;
  background-color: #f9f9f9;
  border-bottom: 2px solid #134090;
  height: 8vh;
 
}

/* Logo responsive */
.logo {
  height: 14vh; 
  max-height: 120px;
  width: auto;
  object-fit: contain;
  margin-top: 1vh;
}

/* Círculo del usuario */
.usuario-circulo {
  width: 7vw;
  height: 7vw;
  max-width: 45px;
  max-height: 45px;
  background-color: #134070;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: clamp(14px, 2vw, 20px);
  margin-right: 2vw;
}

/* Botón hamburguesa */
.menu-toggle {
  background: none;
  border: none;
  font-size: clamp(20px, 5vw, 26px);
  cursor: pointer;
  display: block;
  color: #134070;
  margin-top: 1vh;
}

/* Tablet: ajustes menores */
@media (min-width: 600px) {
  .header {
    padding: 2vh 5vw;
  }

  .usuario-circulo {
    width: 5vw;
    height: 5vw;
  }
}

/* Escritorio: ocultar botón hamburguesa */
@media (min-width: 1024px) {
  .header {
    padding: 2vh 6vw;
  }

  .menu-toggle {
    display: none;
  }
  .usuario-circulo {
    width: 3vw;
    height: 3vw;
  }
}
