.layout-contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-principal {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-contenido {
  flex: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  min-height: calc(100vh - 8vh);
  box-sizing: border-box;
}

.layout-contenido-expandido {
  margin-left: 150px;
}

@media (min-width: 768px) {
  .layout-contenido {
    margin-left: 60px;
  }

  .layout-contenido-expandido {
    margin-left: 200px;
  }
}
