.sidebar {
  width: 50px;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  padding-left: 0.5rem;
  border-right: 2px solid #134070;
  transition: width 0.3s ease;
  position: fixed;
  top: 62px;
  left: 0;
  z-index: 999;
  overflow: hidden;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.sidebar.expandido {
  width: 150px;
}

/* Ítems del sidebar */
.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  cursor: pointer;
  width: 100%;
  position: relative;
  border-radius: 7px;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.sidebar-item:hover {
  background-color: #628bba;
  transform: scale(1.05);
}

.sidebar-item.activo {
  background-color: #134070;
  transform: scale(1.05);
}

.sidebar-item.activo .texto,
.sidebar-item.activo .icono {
  color: white;
}

/* Iconos */
.icono {
  font-size: 20px;
  color: #134070;
  margin-right: 10px;
  transition: color 0.2s ease;
}

/* Texto del ítem */
.texto {
  font-size: 16px;
  color: #000000;
  transition: color 0.3s ease;
  display: none;
}

.sidebar.expandido .texto {
  display: inline;
}

/* Botón hamburguesa */
.menu-toggle {
  font-size: 26px;
  background: none;
  border: none;
  color: #134070;
  cursor: pointer;
  display: block;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .sidebar {
    width: 60px;
  }

  .sidebar:hover {
    width: 150px;
  }

  .sidebar .texto {
    display: none;
  }

  .sidebar:hover .texto {
    display: inline;
  }
}
